
<div class="form-group has-feedback" style="margin: 2em; width: 300px;">

<div class="file-field" style="padding:10px;">
  <%= form.file_field :image, :class => "btn btn-default btn-large btn3d"%>
</div>

    <div class="submit-field" style="padding:10px 0 0 0;">
      <%= form.submit "Upload", :onclick => "move()", class: "btn btn-success btn-large btn3d"%> 
    </div>


</div>

