<div class="container-fluid">
  <div class="row">
    <div class="jumbotron text-right" id="jumbo">
      <h1>Imageria</h1>
        <p>Imageria is a simple web app made to demonstrate the image detection and recognition capabilities by machine learning APIs.</p>
    </div>
  </div>
</div>

<%= form_for @photo, remote: true do |form| %>
  <%= render partial: '/photos/form', object: form %>
<% end %>

<div id="images-list">
</div>






