@import "jquery-ui";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "jquery.mCustomScrollbar";
@import "pmd-scrollbar";
@import "photos";
@import "dropzone/dropzone";

body {
	font-family: 'Questrial', sans-serif;
}

.page-header {
	background-color:transparent;
	width:100%;
}
